
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <form>
            <div class="row">
                <div class="col-sm-1  typography-line">
                     <h3>testhere </h3>
                </div>
                
                <div class="col-md-4"><input type="text" class="form-control " /></div>

            </div>
            <div class="row">
                <div class="col-md-4  typography-line">
                    <h3>testhere </h3>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>

            </div>
            <div class="row">
                <div class="col-md-4 typography-line">
                   <h3>testhere </h3>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>

            </div>
        </form>
      </div>
    </div>
  </div>
  